.tree-view-container{
  min-height: 100vh;
  width: 350px;
  background-color: rgba(97, 135, 20, 0.458);
}

.menu-item{
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  color: rgb(247, 249, 251);
}

.menu-list-conatiner{
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}